<div id="navbarLine" class="horizontalNavBar col-md-12 navbar navbar-default" role="navigation">
    <span ng-click="toggleSideMenu()" class="bolderArrow">&#8656; </span> <span class="hiddenPanelIndicator" ng-click="toggleSideMenu()">  Extra <br/> Menu </span>
    <!--<div class="spinnerContainer"><span id="loading"></span></div>  &lt;!&ndash; Loading spinner &ndash;&gt;-->
    <div ng-click="toggleDemoMenu()" class="demoMenu">
        <img src="images/demos.png" alt="Menu widget"/>
    </div>

    <div class="currentPage" ng-cloak>{{currentPage | currentPageMobileTextFilter}}</div>

    <div ng-click="toggleMenu()" class="mobileMainMenu">
        <img src="images/menu_widget.png" alt="Menu widget"/>
    </div>

    <ul active-tog class="nav navbar-nav">
        <li ng-click="clearMenu()" ng-class="{customActive: isActive('/')}"><a href="#/">Home</a></li>
        <li ng-click="clearMenu()" ng-class="{customActive: isActive('/about')}"><a ng-href="#/about">About</a></li>
        <li ng-click="clearMenu()" ng-class="{customActive: selectActive()}"><a ng-href="#/skills">Skills</a></li>
        <li ng-click="clearMenu()" ng-class="{customActive: isActive('/projects')}"><a ng-href="#/projects">Projects</a></li>
        <li ng-click="clearMenu()" ng-class="{customActive: isActive('/contact')}"><a ng-href="#/contact">Contact</a></li>
    </ul>

</div>